/composer.lock
/node_modules/
tests/Application/node_modules/
/var/
/vendor/

/bin/*
!/bin/.gitkeep

/etc/build/*
!/etc/build/.gitkeep

/tests/TestApplication/.env.local
/tests/TestApplication/.env.*.local
/var/

phpspec.yml

/.phpunit.result.cache

/behat.yml
