includes:
    - vendor/phpstan/phpstan-webmozart-assert/extension.neon

parameters:
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false

    excludes_analyse:
        # Makes PHPStan crash
        - 'src/DependencyInjection/Configuration.php'

        # Test dependencies
        - 'tests/Application/app/**.php'
        - 'tests/Application/src/**.php'

    ignoreErrors:
