includes:
    - vendor/phpstan/phpstan-webmozart-assert/extension.neon

parameters:
    level: 8

    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false

    paths:
        - 'src/'

    excludes_analyse:
        # Makes PHPStan crash
        - 'src/DependencyInjection/Configuration.php'

    ignoreErrors:
        - '/Method Sylius\\RefundPlugin\\Entity\\CustomerBillingData::getId\(\) has no return type specified./'
        - '/Method Sylius\\RefundPlugin\\Entity\\CustomerBillingData::setId\(\) has parameter \$id with no type specified./'
        - '/Method Sylius\\RefundPlugin\\Entity\\CustomerBillingDataInterface::setId\(\) has parameter \$id with no type specified./'
        - '/Call to an undefined method [a-zA-Z\\]+::createQueryBuilder\(\)./'
