<table id="refunds" class="ui compact celled table">
    <thead>
    <tr>
        {{ sylius_template_event('sylius_refund.admin.order.refund.form.table.header', _context) }}
    </tr>
    </thead>
    <tbody>
    {{ sylius_template_event('sylius_refund.admin.order.refund.form.table.body', _context) }}
    </tbody>
</table>
