<div class="ui right aligned grid">
    <div class="sixteen wide column">
        {{ sylius_template_event('sylius_refund.admin.order.refund.buttons', _context) }}
        <div class="ui hidden divider"></div>
    </div>
</div>
