<div class="ui form column">
    <div class="field">
        <label for="sylius-refund-comment">{{ 'sylius.ui.comment'|trans }}</label>
        <textarea rows="3" name="sylius_refund_comment" id="sylius-refund-comment"></textarea>
    </div>
</div>
