{% import '@SyliusAdmin/Common/Macro/money.html.twig' as money %}

<div class="ui stackable grid">
    <div class="two column row">
        {{ sylius_template_event('sylius_refund.admin.order.refund.form.footer', _context) }}
    </div>
</div>
