{% if order.payments.first()  %}
    {% set completed = constant('Sylius\\Component\\Core\\Model\\PaymentInterface::STATE_COMPLETED') %}
    {% set original_payment_method = order.lastPayment(completed).method %}
    <div class="ui hidden divider"></div>

    <div class="ui stackable grid">
        <div class="two column row">
            {{ sylius_template_event('sylius_refund.admin.order.refund.form.payment_method', _context) }}
        </div>
    </div>
{% endif %}
